<div id="actPages">
    <div class="container" ng-style="style">
        <header>
            <img ng-repeat="img in Datas.images.imgs_header" ng-src="{{img}}" alt="">
        </header>
        <section>
            <div class="con_box">
                <img ng-repeat="img in Datas.images.imgs_1" ng-src="{{img}}" alt="">

                <div class="bottom_box fr" ng-repeat="userid in Datas.userId.user_1">
                    <a class="btn left_btn fl" ng-href="kaowo://user/mainpage?uid={{userid}}">查看Ta的主页</a>
                    <a class="btn right_btn fr" ng-href="kaowo://communi/voicecall?uid={{userid}}">马上咨询</a>
                </div>
            </div>
            <div class="con_box">
                <img ng-repeat="img in Datas.images.imgs_2" ng-src="{{img}}" alt="">

                <div class="bottom_box fr" ng-repeat="userid in Datas.userId.user_2">
                    <a class="btn left_btn fl" ng-href="kaowo://user/mainpage?uid={{userid}}">查看Ta的主页</a>
                    <a class="btn right_btn fr" ng-href="kaowo://communi/voicecall?uid={{userid}}">马上咨询</a>
                </div>
            </div>
            <div class="con_box">
                <img ng-repeat="img in Datas.images.imgs_3" ng-src="{{img}}" alt="">

                <div class="bottom_box fr" ng-repeat="userid in Datas.userId.user_3">
                    <a class="btn left_btn fl" ng-href="kaowo://user/mainpage?uid={{userid}}">查看Ta的主页</a>
                    <a class="btn right_btn fr" ng-href="kaowo://communi/voicecall?uid={{userid}}">马上咨询</a>
                </div>
            </div>
            <div class="con_box">
                <img ng-repeat="img in Datas.images.imgs_4" ng-src="{{img}}" alt="">

                <div class="bottom_box fr" ng-repeat="userid in Datas.userId.user_4">
                    <a class="btn left_btn fl" ng-href="kaowo://user/mainpage?uid={{userid}}">查看Ta的主页</a>
                    <a class="btn right_btn fr" ng-href="kaowo://communi/voicecall?uid={{userid}}">马上咨询</a>
                </div>
            </div>
            <div class="con_box">
                <img ng-repeat="img in Datas.images.imgs_5" ng-src="{{img}}" alt="">

                <div class="bottom_box fr" ng-repeat="userid in Datas.userId.user_5">
                    <a class="btn left_btn fl" ng-href="kaowo://user/mainpage?uid={{userid}}">查看Ta的主页</a>
                    <a class="btn right_btn fr" ng-href="kaowo://communi/voicecall?uid={{userid}}">马上咨询</a>
                </div>
            </div>
            <div class="con_box">
                <img ng-repeat="img in Datas.images.imgs_6" ng-src="{{img}}" alt="">

                <div class="bottom_box fr" ng-repeat="userid in Datas.userId.user_6">
                    <a class="btn left_btn fl" ng-href="kaowo://user/mainpage?uid={{userid}}">查看Ta的主页</a>
                    <a class="btn right_btn fr" ng-href="kaowo://communi/voicecall?uid={{userid}}">马上咨询</a>
                </div>
            </div>
            <div class="con_box">
                <img ng-repeat="img in Datas.images.imgs_7" ng-src="{{img}}" alt="">

                <div class="bottom_box fr" ng-repeat="userid in Datas.userId.user_7">
                    <a class="btn left_btn fl" ng-href="kaowo://user/mainpage?uid={{userid}}">查看Ta的主页</a>
                    <a class="btn right_btn fr" ng-href="kaowo://communi/voicecall?uid={{userid}}">马上咨询</a>
                </div>
            </div>
            <div class="con_box">
                <img ng-repeat="img in Datas.images.imgs_8" ng-src="{{img}}" alt="">

                <div class="bottom_box fr" ng-repeat="userid in Datas.userId.user_8">
                    <a class="btn left_btn fl" ng-href="kaowo://user/mainpage?uid={{userid}}">查看Ta的主页</a>
                    <a class="btn right_btn fr" ng-href="kaowo://communi/voicecall?uid={{userid}}">马上咨询</a>
                </div>
            </div>
            <div class="con_box">
                <img ng-repeat="img in Datas.images.imgs_9" ng-src="{{img}}" alt="">

                <div class="bottom_box fr" ng-repeat="userid in Datas.userId.user_9">
                    <a class="btn left_btn fl" ng-href="kaowo://user/mainpage?uid={{userid}}">查看Ta的主页</a>
                    <a class="btn right_btn fr" ng-href="kaowo://communi/voicecall?uid={{userid}}">马上咨询</a>
                </div>
            </div>
        </section>

    </div>
    <textarea style="display:none" id="J_pageData">
        <!--"showRefresh"：刷新按钮（T——显示，F——隐藏），-->
        <!--"showBack"：后退按钮（T——显示，F——隐藏），-->
        <!--"showForward"：前进按钮（T——显示，F——隐藏），-->
        <!--"showBottom"：整个底部栏（T——显示，F——隐藏）-->
        { "showRefresh" : "F", "showBack" : "F", "showForward" : "F", "showBottom" : "F" }
    </textarea>
</div>