<div id="kaowoIntro">
    <div class="container">
        <section ng-repeat="img in Datas.images" >
            <img ng-src="{{img}}" alt="">
        </section>
    </div>
    <textarea style="display:none" id="J_pageData">
        <!--"showRefresh"：刷新按钮（T——显示，F——隐藏），-->
        <!--"showBack"：后退按钮（T——显示，F——隐藏），-->
        <!--"showForward"：前进按钮（T——显示，F——隐藏），-->
        <!--"showBottom"：整个底部栏（T——显示，F——隐藏）-->
        { "showRefresh" : "F", "showBack" : "F", "showForward" : "F", "showBottom" : "F" }
    </textarea>
</div>