<div id="dowebok">
    <div class="section section1" data-menuanchor="page1" data-anchor="page1" ng-style="sty.page1"
         style="background: #f33c33">
        <a href="javascript:void(0)" class="btn" id="J_p1Btn"></a>
        <img class="bg" ng-src="{{imgs.p1_1}}" imageonload show-breath="sty"/>
    </div>

    <div class="section section2" data-anchor="page2">
        <section class="more-btn">
            <img ng-src="{{imgs.more}}">
        </section>
        <section class="page2 pages">
            <div class="p1">
                <img ng-src="{{imgs.p2_1}}"/>

                <div class="btn-box">
                    <a ng-href="kaowo://user/mainpage?uid={{Static.userId[0]}}" class="btn fl"></a>
                    <a ng-href="kaowo://communi/voicecall?uid={{Static.userId[0]}}" class="btn fr"></a>
                </div>
            </div>
            <div class="p2">
                <img ng-src="{{imgs.p2_2}}"/>

                <div class="btn-box">
                    <a ng-href="kaowo://user/mainpage?uid={{Static.userId[1]}}" class="btn fl"></a>
                    <a ng-href="kaowo://communi/voicecall?uid={{Static.userId[1]}}" class="btn fr"></a>
                </div>
            </div>
        </section>
    </div>
    <div class="section section3" data-anchor="page3">
        <section class="more-btn">
            <img ng-src="{{imgs.more}}">
        </section>
        <section class="page3 pages">
            <div class="p1">
                <img ng-src="{{imgs.p3_1}}"/>

                <div class="btn-box">
                    <a ng-href="kaowo://user/mainpage?uid={{Static.userId[2]}}" class="btn fl"></a>
                    <a ng-href="kaowo://communi/voicecall?uid={{Static.userId[2]}}" class="btn fr"></a>
                </div>
            </div>
            <div class="p2">
                <img ng-src="{{imgs.p3_2}}"/>

                <div class="btn-box">
                    <a ng-href="kaowo://user/mainpage?uid={{Static.userId[3]}}" class="btn fl"></a>
                    <a ng-href="kaowo://communi/voicecall?uid={{Static.userId[3]}}" class="btn fr"></a>
                </div>
            </div>
        </section>
    </div>
    <div class="section section4" data-anchor="page4">
        <section class="more-btn">
            <img ng-src="{{imgs.more}}">
        </section>
        <section class="page4 pages">

            <div class="p1">
                <img class="p1" ng-src="{{imgs.p4_1}}"/>

                <div class="btn-box">
                    <a ng-href="kaowo://user/mainpage?uid={{Static.userId[4]}}" class="btn fl"></a>
                    <a ng-href="kaowo://communi/voicecall?uid={{Static.userId[4]}}" class="btn fr"></a>
                </div>
            </div>

            <div class="p2">
                <img ng-src="{{imgs.p4_2}}"/>

                <div class="btn-box">
                    <a ng-href="kaowo://user/mainpage?uid={{Static.userId[5]}}" class="btn fl"></a>
                    <a ng-href="kaowo://communi/voicecall?uid={{Static.userId[5]}}" class="btn fr"></a>
                </div>
            </div>
            <div class="p3">
                <img ng-src="{{imgs.p4_3}}"/>

                <div class="btn-box">
                    <a ng-href="kaowo://user/mainpage?uid={{Static.userId[6]}}" class="btn fl"></a>
                    <a ng-href="kaowo://communi/voicecall?uid={{Static.userId[6]}}" class="btn fr"></a>
                </div>
            </div>
        </section>
    </div>
    <div class="section section5" data-anchor="page5">
        <section class="more-btn">
            <img ng-src="{{imgs.more}}">
        </section>
        <section class="page5 pages">
            <div class="p1">
                <img class="p1" ng-src="{{imgs.p5_1}}"/>

                <div class="btn-box">
                    <a ng-href="kaowo://user/mainpage?uid={{Static.userId[7]}}" class="btn fl"></a>
                    <a ng-href="kaowo://communi/voicecall?uid={{Static.userId[7]}}" class="btn fr"></a>
                </div>
            </div>
            <div class="p2">
                <img class="p2" ng-src="{{imgs.p5_2}}"/>

                <div class="btn-box">
                    <a ng-href="kaowo://user/mainpage?uid={{Static.userId[8]}}" class="btn fl"></a>
                    <a ng-href="kaowo://communi/voicecall?uid={{Static.userId[8]}}" class="btn fr"></a>
                </div>
            </div>
            <div class="p3">
                <img class="p3" ng-src="{{imgs.p5_3}}"/>

                <div class="btn-box">
                    <a ng-href="kaowo://user/mainpage?uid={{Static.userId[9]}}" class="btn fl"></a>
                    <a ng-href="kaowo://communi/voicecall?uid={{Static.userId[9]}}" class="btn fr"></a>
                </div>
            </div>
        </section>
    </div>
    <div class="section section6" data-anchor="page6">

        <section class="page6 pages">
            <div class="p1">
                <img ng-src="{{imgs.p6_1}}"/>

                <div class="btn-box">
                    <a ng-href="kaowo://user/mainpage?uid={{Static.userId[10]}}" class="btn fl"></a>
                    <a ng-href="kaowo://communi/voicecall?uid={{Static.userId[10]}}" class="btn fr"></a>
                </div>
            </div>
            <div class="p2">
                <img ng-src="{{imgs.p6_2}}"/>

                <div class="btn-box">
                    <a ng-href="kaowo://user/mainpage?uid={{Static.userId[11]}}" class="btn fl"></a>
                    <a ng-href="kaowo://communi/voicecall?uid={{Static.userId[11]}}" class="btn fr"></a>
                </div>
            </div>
            <div class="p3">
                <img class="p3" ng-src="{{imgs.p6_3}}"/>

                <div class="btn-box">
                    <a ng-href="kaowo://user/mainpage?uid={{Static.userId[12]}}" class="btn fl"></a>
                    <a ng-href="kaowo://communi/voicecall?uid={{Static.userId[12]}}" class="btn fr"></a>
                </div>
            </div>
        </section>
    </div>
</div>

<textarea style="display:none" id="J_pageData">
    <!--"showRefresh"：刷新按钮（T——显示，F——隐藏），-->
    <!--"showBack"：后退按钮（T——显示，F——隐藏），-->
    <!--"showForward"：前进按钮（T——显示，F——隐藏），-->
    <!--"showBottom"：整个底部栏（T——显示，F——隐藏）-->
    { "showRefresh" : "F", "showBack" : "F", "showForward" : "F", "showBottom" : "F" }
</textarea>
