<div id="enlist">
    <div class="container" style="text-align: center">
        <header>
            <img ng-repeat="img in Datas.imgs" ng-src="{{img}}" alt="">
        </header>
        <section>

        <div style="border-bottom: solid 1px #fff;margin: 0 5% 0 5%"></div>
            <div class="video" style="padding: 3%">
                <!--<video
                        src="http://ad-ikaowo.qiniudn.com/enlist.mp4"
                        controls="controls"
                        style="width: 100%"
                        >
                </video>-->


                <iframe frameborder=0 src="http://v.qq.com/iframe/player.html?vid=z01504nd54k&tiny=0&auto=0"
                        allowfullscreen></iframe>

            </div>
            <div class="btns">
                <div >
                    <!--<a href="#recruit" style="height: 100%"> 立即申请加入</a></div>-->
                <div ><a href="http://fir.im/o3t3" style="height: 100%"> 靠我APP下载</a></div>

            </div>

        </section>
    </div>
</div>