<!--
<style type="text/css">
    #dowebok img{
        /*width: 100%;*/
        height: inherit;
    }
    #dowebok{
        background-color: #000f2f;
    }
    .section{
        text-align: center;
    }
    .breathing{
        height: 20%;
        width: 30%;
         left: 35%;
        position: absolute;
        bottom: 14%;
        z-index: -1;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#90fe8e), to(#26c5ff));
        -webkit-animation-timing-function: ease-in-out;
        -webkit-animation-name: breathe;
        -webkit-animation-duration: 700ms;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-direction: alternate;
    }

    @-webkit-keyframes breathe {
        0% { opacity: .2; box-shadow:0 1px 2px rgba(235, 255, 229, 0.50);}
        100% { opacity: 1; border:1px solid rgba(59,235,235,1); box-shadow:0 1px 30px rgba(59,255,255,1);}
    }


</style>
<script type="text/javascript" src=""></script>


&lt;!&ndash;<ul id="menu" style="position: fixed;color: #fff;font-size: larger;z-index: 9">&ndash;&gt;
    &lt;!&ndash;<li>&ndash;&gt;
        &lt;!&ndash;<a href="retina.html#/ad/page1">1</a>&ndash;&gt;
    &lt;!&ndash;</li>&ndash;&gt;
&lt;!&ndash;</ul>&ndash;&gt;
<div id="dowebok" style="z-index: 0">
    <div class="section"  data-menuanchor="page1" data-anchor="page1"
         ng-style="sty.page1"
         style=""
            >
        <div style="
        text-align: center;

        color: #fff;font-size: larger;position: absolute;bottom: 10%;left: 38%;width: 23%;height: 20%"
                ng-click="Btn.startRoll()"
                >&nbsp;

        </div>
        <div class="breathing"  ></div>

        <img ng-src="{{imgbgs.page1}}" style="height: 100%;z-index: 9"
             imageonload
             show-breath="sty"
                >

    </div>
    <div class="section"  data-anchor="page2" style="background-color: #eb5657">
        <img ng-src="{{imgbgs.page2}}" >
    </div>
    <div class="section" data-anchor="page3">
        <img ng-src="{{imgbgs.page3}}" style="width: 100%" >
    </div>
    <div class="section"  data-anchor="page4"
         style="text-align: center"
         id="spage4"
              >
        <img ng-src="{{sty.img4}}"  alt="" ng-style="sty.img4Size"/>
        <img ng-src="{{imgbgs.page4}}" style="position: absolute;left: 10%;margin: 0;width: 78% ;height: auto;top: 10%" >
    </div>
    <div class="section" data-menuanchor="page5"  ng-style="sty.page1">
        <div style="color: #fff;font-size: larger;position: absolute;bottom: 10%;left: 38%;width: 23%;height: 20%"
             ng-click="Btn.endRoll()"
                >&nbsp;</div>
        <div class="breathing" ></div>

        <img ng-src="{{imgbgs.page5}}" >
    </div>

</div>
-->
