<div id="actPages">
    <div class="container">
        <section>
            <div class="con_box">
                <img ng-repeat="img in Datas.images.imgs_1" ng-src="{{img}}" alt="">
            </div>
            <div class="con_box">
                <img ng-repeat="img in Datas.images.imgs_2" ng-src="{{img}}" alt="">

            </div>
            <div class="con_box">
                <img ng-repeat="img in Datas.images.imgs_3" ng-src="{{img}}" alt="">

            </div>
            <div class="con_box bigSales">
                <img ng-repeat="img in Datas.images.imgs_4" ng-src="{{img}}" alt="">
                <div class="sales-btns fr" ng-repeat="userid in Datas.userId.user_4" ng-hide="Datas.isWiexin">
                    <a class="btn" ng-href="kaowo://user/mainpage?uid={{userid}}"></a>
                    <a class="btn" ng-href="kaowo://communi/voicecall?uid={{userid}}"></a>
                </div>
                <div class="sales-btns fr" ng-show="Datas.isWiexin">
                    <a class="btn" href="http://fir.im/kaowo"></a>
                    <a class="btn" href="http://fir.im/kaowo"></a>
                </div>

            </div>
            <div class="con_box bigSales">
                <img ng-repeat="img in Datas.images.imgs_5" ng-src="{{img}}" alt="">
                <div class="sales-btns fr" ng-repeat="userid in Datas.userId.user_5" ng-hide="Datas.isWiexin">
                    <a class="btn" ng-href="kaowo://user/mainpage?uid={{userid}}"></a>
                    <a class="btn" ng-href="kaowo://communi/voicecall?uid={{userid}}"></a>
                </div>
                <div class="sales-btns fr" ng-show="Datas.isWiexin">
                    <a class="btn" href="http://fir.im/kaowo"></a>
                    <a class="btn" href="http://fir.im/kaowo"></a>
                </div>

            </div>
            <div class="con_box bigSales">
                <img ng-repeat="img in Datas.images.imgs_6" ng-src="{{img}}" alt="">
                <div class="sales-btns fr" ng-repeat="userid in Datas.userId.user_6" ng-hide="Datas.isWiexin">
                    <a class="btn" ng-href="kaowo://user/mainpage?uid={{userid}}"></a>
                    <a class="btn" ng-href="kaowo://communi/voicecall?uid={{userid}}"></a>
                </div>
                <div class="sales-btns fr" ng-show="Datas.isWiexin">
                    <a class="btn" href="http://fir.im/kaowo"></a>
                    <a class="btn" href="http://fir.im/kaowo"></a>
                </div>

            </div>
            <div class="con_box bigSales">
                <img ng-repeat="img in Datas.images.imgs_7" ng-src="{{img}}" alt="">
                <div class="sales-btns fr" ng-repeat="userid in Datas.userId.user_7" ng-hide="Datas.isWiexin">
                    <a class="btn" ng-href="kaowo://user/mainpage?uid={{userid}}"></a>
                    <a class="btn" ng-href="kaowo://communi/voicecall?uid={{userid}}"></a>
                </div>
                <div class="sales-btns fr" ng-show="Datas.isWiexin">
                    <a class="btn" href="http://fir.im/kaowo"></a>
                    <a class="btn" href="http://fir.im/kaowo"></a>
                </div>

            </div>
            <div class="con_box">
                <img ng-repeat="img in Datas.images.imgs_8" ng-src="{{img}}" alt="">

            </div>
            <div class="con_box bigSales">
                <img ng-repeat="img in Datas.images.imgs_9" ng-src="{{img}}" alt="">
                <div class="sales-btns fr" ng-repeat="userid in Datas.userId.user_9" ng-hide="Datas.isWiexin">
                    <a class="btn" ng-href="kaowo://user/mainpage?uid={{userid}}"></a>
                    <a class="btn" ng-href="kaowo://communi/voicecall?uid={{userid}}"></a>
                </div>
                <div class="sales-btns fr" ng-show="Datas.isWiexin">
                    <a class="btn" href="http://fir.im/kaowo"></a>
                    <a class="btn" href="http://fir.im/kaowo"></a>
                </div>

            </div>
            <div class="con_box bigSales">
                <img ng-repeat="img in Datas.images.imgs_10" ng-src="{{img}}" alt="">
                <div class="sales-btns fr" ng-repeat="userid in Datas.userId.user_10" ng-hide="Datas.isWiexin">
                    <a class="btn" ng-href="kaowo://user/mainpage?uid={{userid}}"></a>
                    <a class="btn" ng-href="kaowo://communi/voicecall?uid={{userid}}"></a>
                </div>
                <div class="sales-btns fr" ng-show="Datas.isWiexin">
                    <a class="btn" href="http://fir.im/kaowo"></a>
                    <a class="btn" href="http://fir.im/kaowo"></a>
                </div>

            </div>
            <div class="con_box bigSales">
                <img ng-repeat="img in Datas.images.imgs_11" ng-src="{{img}}" alt="">
                <div class="sales-btns fr" ng-repeat="userid in Datas.userId.user_11" ng-hide="Datas.isWiexin">
                    <a class="btn" ng-href="kaowo://user/mainpage?uid={{userid}}"></a>
                    <a class="btn" ng-href="kaowo://communi/voicecall?uid={{userid}}"></a>
                </div>
                <div class="sales-btns fr" ng-show="Datas.isWiexin">
                    <a class="btn" href="http://fir.im/kaowo"></a>
                    <a class="btn" href="http://fir.im/kaowo"></a>
                </div>

            </div>
            <div class="con_box bigSales">
                <img ng-repeat="img in Datas.images.imgs_12" ng-src="{{img}}" alt="">
                <div class="sales-btns fr" ng-repeat="userid in Datas.userId.user_12" ng-hide="Datas.isWiexin">
                    <a class="btn" ng-href="kaowo://user/mainpage?uid={{userid}}"></a>
                    <a class="btn" ng-href="kaowo://communi/voicecall?uid={{userid}}"></a>
                </div>
                <div class="sales-btns fr" ng-show="Datas.isWiexin">
                    <a class="btn" href="http://fir.im/kaowo"></a>
                    <a class="btn" href="http://fir.im/kaowo"></a>
                </div>

            </div>
            <div class="con_box bigSales">
                <img ng-repeat="img in Datas.images.imgs_13" ng-src="{{img}}" alt="">

            </div>
            <div class="con_box">
                <img ng-repeat="img in Datas.images.imgs_14" ng-src="{{img}}" alt="">

            </div>
            <div class="con_box bigSales">
                <img ng-repeat="img in Datas.images.imgs_15" ng-src="{{img}}" alt="">
                <div class="sales-btns fr" ng-repeat="userid in Datas.userId.user_15" ng-hide="Datas.isWiexin">
                    <a class="btn" ng-href="kaowo://user/mainpage?uid={{userid}}"></a>
                    <a class="btn" ng-href="kaowo://communi/voicecall?uid={{userid}}"></a>
                </div>
                <div class="sales-btns fr" ng-show="Datas.isWiexin">
                    <a class="btn" href="http://fir.im/kaowo"></a>
                    <a class="btn" href="http://fir.im/kaowo"></a>
                </div>

            </div>
            <div class="con_box bigSales">
                <img ng-repeat="img in Datas.images.imgs_16" ng-src="{{img}}" alt="">
                <div class="sales-btns fr" ng-repeat="userid in Datas.userId.user_16" ng-hide="Datas.isWiexin">
                    <a class="btn" ng-href="kaowo://user/mainpage?uid={{userid}}"></a>
                    <a class="btn" ng-href="kaowo://communi/voicecall?uid={{userid}}"></a>
                </div>
                <div class="sales-btns fr" ng-show="Datas.isWiexin">
                    <a class="btn" href="http://fir.im/kaowo"></a>
                    <a class="btn" href="http://fir.im/kaowo"></a>
                </div>

            </div>
            <div class="con_box bigSales">
                <img ng-repeat="img in Datas.images.imgs_17" ng-src="{{img}}" alt="">
                <div class="sales-btns fr" ng-repeat="userid in Datas.userId.user_17" ng-hide="Datas.isWiexin">
                    <a class="btn" ng-href="kaowo://user/mainpage?uid={{userid}}"></a>
                    <a class="btn" ng-href="kaowo://communi/voicecall?uid={{userid}}"></a>
                </div>
                <div class="sales-btns fr" ng-show="Datas.isWiexin">
                    <a class="btn" href="http://fir.im/kaowo"></a>
                    <a class="btn" href="http://fir.im/kaowo"></a>
                </div>

            </div>
            <div class="con_box bigSales">
                <img ng-repeat="img in Datas.images.imgs_18" ng-src="{{img}}" alt="">
                <div class="sales-btns fr" ng-repeat="userid in Datas.userId.user_18" ng-hide="Datas.isWiexin">
                    <a class="btn" ng-href="kaowo://user/mainpage?uid={{userid}}"></a>
                    <a class="btn" ng-href="kaowo://communi/voicecall?uid={{userid}}"></a>
                </div>
                <div class="sales-btns fr" ng-show="Datas.isWiexin">
                    <a class="btn" href="http://fir.im/kaowo"></a>
                    <a class="btn" href="http://fir.im/kaowo"></a>
                </div>

            </div>
            <div class="con_box bigSales">
                <img ng-repeat="img in Datas.images.imgs_19" ng-src="{{img}}" alt="">

            </div>
            <div class="con_box bigSales">
                <img ng-repeat="img in Datas.images.imgs_20" ng-src="{{img}}" alt="">
                <div class="sales-btns fr" ng-repeat="userid in Datas.userId.user_20" ng-hide="Datas.isWiexin">
                    <a class="btn" ng-href="kaowo://user/mainpage?uid={{userid}}"></a>
                    <a class="btn" ng-href="kaowo://communi/voicecall?uid={{userid}}"></a>
                </div>
                <div class="sales-btns fr" ng-show="Datas.isWiexin">
                    <a class="btn" href="http://fir.im/kaowo"></a>
                    <a class="btn" href="http://fir.im/kaowo"></a>
                </div>

            </div>
            <div class="con_box bigSales">
                <img ng-repeat="img in Datas.images.imgs_21" ng-src="{{img}}" alt="">
                <div class="sales-btns fr" ng-repeat="userid in Datas.userId.user_21" ng-hide="Datas.isWiexin">
                    <a class="btn" ng-href="kaowo://user/mainpage?uid={{userid}}"></a>
                    <a class="btn" ng-href="kaowo://communi/voicecall?uid={{userid}}"></a>
                </div>
                <div class="sales-btns fr" ng-show="Datas.isWiexin">
                    <a class="btn" href="http://fir.im/kaowo"></a>
                    <a class="btn" href="http://fir.im/kaowo"></a>
                </div>

            </div>
            <div class="con_box bigSales">
                <img ng-repeat="img in Datas.images.imgs_22" ng-src="{{img}}" alt="">
                <div class="sales-btns fr" ng-repeat="userid in Datas.userId.user_22" ng-hide="Datas.isWiexin">
                    <a class="btn" ng-href="kaowo://user/mainpage?uid={{userid}}"></a>
                    <a class="btn" ng-href="kaowo://communi/voicecall?uid={{userid}}"></a>
                </div>
                <div class="sales-btns fr" ng-show="Datas.isWiexin">
                    <a class="btn" href="http://fir.im/kaowo"></a>
                    <a class="btn" href="http://fir.im/kaowo"></a>
                </div>

            </div>
            <div class="con_box bigSales">
                <img ng-repeat="img in Datas.images.imgs_23" ng-src="{{img}}" alt="">
                <div class="sales-btns fr" ng-repeat="userid in Datas.userId.user_23" ng-hide="Datas.isWiexin">
                    <a class="btn" ng-href="kaowo://user/mainpage?uid={{userid}}"></a>
                    <a class="btn" ng-href="kaowo://communi/voicecall?uid={{userid}}"></a>
                </div>
                <div class="sales-btns fr" ng-show="Datas.isWiexin">
                    <a class="btn" href="http://fir.im/kaowo"></a>
                    <a class="btn" href="http://fir.im/kaowo"></a>
                </div>

            </div>
            <div class="con_box">
                <img ng-repeat="img in Datas.images.imgs_24" ng-src="{{img}}" alt="">

            </div>
        </section>

    </div>
    <textarea style="display:none" id="J_pageData">
        <!--"showRefresh"：刷新按钮（T——显示，F——隐藏），-->
        <!--"showBack"：后退按钮（T——显示，F——隐藏），-->
        <!--"showForward"：前进按钮（T——显示，F——隐藏），-->
        <!--"showBottom"：整个底部栏（T——显示，F——隐藏）-->
        { "showRefresh" : "F", "showBack" : "F", "showForward" : "F", "showBottom" : "F" }
    </textarea>
</div>