<div style="display: none">
    <img ng-src="{{imgs.share}}" style="width: 300px">
</div>
<a href="javascript:void(0)" ng-click="playMusic()" id="J_music" class="music-btn"></a>
<div id="dowebok">
    <div class="section section1" data-menuanchor="page1" data-anchor="page1" ng-style="sty.page1" style="">
        <section class="more-btn">
            <p>了解任务 领取角色</p>
            <img ng-src="{{imgs.more}}">
        </section>
        <section class="top1">
            <img class="big" ng-src="{{imgs.pag1_1}}"/>
            <img class="sm" ng-src="{{imgs.pag1_2}}"/>

        </section>
        <section class="heros">
            <div class="l1">
                <img class="h1" ng-src="{{imgs.hero01}}"/>
                <img class="h2" ng-src="{{imgs.hero02}}"/>
                <img class="h3" ng-src="{{imgs.hero03}}"/>

            </div>
            <div class="l2">
                <img class="h4" ng-src="{{imgs.hero04}}"/>
                <img class="h5" ng-src="{{imgs.hero05}}"/>
                <img class="h6" ng-src="{{imgs.hero06}}"/>
            </div>
        </section>

        <img class="bg" ng-src="{{imgs.bg1}}" imageonload show-breath="sty"/>
    </div>
    <div class="section section2" data-anchor="page2">
        <section class="more-btn">
            <img ng-src="{{imgs.more}}">
        </section>
        <section class="page2 page3 i4">
            <img ng-src="{{imgs.pag2_1}}"/>
            <img class="img2" ng-src="{{imgs.pag2_2}}"/>
            <p class="title">我们是什么样的人？</p>
            <p class="con">CEO赵理辉阿里十年老兵，铁血文化的缔造者。<br />
                产品合伙人原淘宝创始人老顽童。<br />
                技术合伙人“旺旺之父“无崖子。<br />
                天使投资人原UT斯达康创始人薛蛮子。<br />
                我们从几个人到现在三十个人，没一个混日子的，也没一个爱凑合的。<br />
                我们的价值观：极致、创新、乐观。用我们平凡的努力造就不平凡。<br />
                我们都是85后靠谱青年，拼命工作是为了更好的生活，有爱互助这里就是family<br />
                我们马上A轮，弹药充足，随时准备开火！</p>
        </section>
        <img class="bg" ng-src="{{imgs.bg1}}">
    </div>
    <div class="section section3" data-anchor="page3">
        <section class="more-btn">
            <p>了解任务奖励</p>
            <img ng-src="{{imgs.more}}">
        </section>
        <section class="page2 page3">
            <img ng-src="{{imgs.pag2_1}}"/>
            <p class="title">我们要干什么</p>
            <p class="con">「靠我」您的专属智囊团！<br />
                专注于互联网商务领域。通过智慧共享的方式以图文语音，即时通讯一对一找到行业智客解决您创业或商业上的困惑，让每一位普通人都可以拥有一个专属于自己的强大智囊团，让每一位智客发挥出更大的价值，拥有成就事业的舞台。「靠我」用共享经济的理念，让智慧流动起来。</p>
            <!--<img class="logo" ng-src="{{imgs.pag3_1}}" />-->
            <img class="phone" ng-src="{{imgs.pag3_2}}" />

        </section>
        <img class="bg" ng-src="{{imgs.bg1}}">
    </div>

    <div class="section section4" data-anchor="page4">
        <section class="more-btn">
            <p>马上领取角色</p>
            <img ng-src="{{imgs.more}}">
        </section>
        <section class="page2 page3">
            <img ng-src="{{imgs.page4_0}}"/>
        </section>
        <section class="page4">
            <div class="fl">
                <img class="img1" ng-src="{{imgs.page4_1}}"/>
                <img class="img4" ng-src="{{imgs.page4_3}}"/>
            </div>
            <div class="fr">
                <img class="img2" ng-src="{{imgs.page4_2}}"/>
                <img class="img3" ng-src="{{imgs.page4_4}}"/>
            </div>
        </section>
        <img class="bg" ng-src="{{imgs.bg1}}">
    </div>

    <div class="section section5" data-anchor="page5">
        <section class="more-btn">
            <p>查看其他角色</p>
            <img ng-src="{{imgs.more}}">
        </section>
        <section class="page5">
            <img class="top" ng-src="{{imgs.hero01}}" />
            <img class="bottom" ng-src="{{imgs.page5_1}}" />
        </section>
        <img class="bg" ng-src="{{imgs.bg2}}">
    </div>
    <div class="section section6" data-anchor="page6">
        <section class="more-btn">
            <p>查看其他角色</p>
            <img ng-src="{{imgs.more}}">
        </section>
        <section class="page5">
            <img class="top" ng-src="{{imgs.hero02}}" />
            <img class="bottom" ng-src="{{imgs.page6_1}}" />
        </section>
        <img class="bg" ng-src="{{imgs.bg2}}">
    </div>
    <div class="section section7" data-anchor="page7">
        <section class="more-btn">
            <p>查看其他角色</p>
            <img ng-src="{{imgs.more}}">
        </section>
        <section class="page5">
            <img class="top" ng-src="{{imgs.hero03}}" />
            <img class="top_s7" ng-src="{{imgs.page7_2}}" />
            <img class="bottom" ng-src="{{imgs.page7_1}}" />
        </section>
        <img class="bg" ng-src="{{imgs.bg2}}">
    </div>
    <div class="section section8" data-anchor="page8">
        <section class="more-btn">
            <p>查看其他角色</p>
            <img ng-src="{{imgs.more}}">
        </section>
        <section class="page5">
            <img class="top" ng-src="{{imgs.hero04}}" />
            <img class="bottom" ng-src="{{imgs.page8_1}}" />
        </section>
        <img class="bg" ng-src="{{imgs.bg2}}">
    </div>
    <div class="section section9" data-anchor="page9" id="p9">
        <section class="more-btn">
            <p>查看其他角色</p>
            <img ng-src="{{imgs.more}}">
        </section>
        <section class="page5">
            <img class="top" ng-src="{{imgs.hero05}}" />
            <img class="bottom" ng-src="{{imgs.page9_1}}" />
        </section>
        <img class="bg" ng-src="{{imgs.bg2}}">
    </div>
    <div class="section section10" data-anchor="page10">
        <section class="more-btn">
            <p>查看其他角色</p>
            <img ng-src="{{imgs.more}}">
        </section>
        <section class="page5">
            <img class="top" ng-src="{{imgs.hero06}}" />
            <img class="top_s10" ng-src="{{imgs.page10_2}}" />
            <img class="bottom" ng-src="{{imgs.page10_1}}" />
        </section>
        <img class="bg" ng-src="{{imgs.bg2}}">
    </div>
    <div class="section section11" data-anchor="page11">
        <section class="page5">
            <img class="top" ng-src="{{imgs.hero07}}" />
            <img class="bottom" ng-src="{{imgs.page11_1}}" />
            <a href="javascript:void(0)" class="link-ck"></a>
        </section>
        <img class="bg" ng-src="{{imgs.bg2}}">
    </div>
    <div class="section section12" data-anchor="page12">
        <section class="more-btn">
            <p>去填个联系方式</p>
            <img ng-src="{{imgs.more}}">
        </section>
        <section class="page12">
            <img class="top-img" ng-src="{{imgs.page12_1}}"/>
            <p class="title">点击对应的英雄，选择适合的角色</p>
            <div class="box clearfix" id="J_page12">
                <a class="all-b fl" href="https://jinshuju.net/f/hQC5pZ" target="_blank">
                    <input type="hidden" value="1" />
                    <div class="b-bg fl"></div>
                    <img class="men" ng-src="{{imgs.hero01}}" />
                    <img class="gou" ng-src="{{imgs.page12_2}}" />
                    <p>营销策划</p>
                </a>
                <a class="all-b midd fl" href="https://jinshuju.net/f/hQC5pZ" target="_blank">
                    <input type="hidden" value="2" />
                    <div class="b-bg fl"></div>
                    <img class="men" ng-src="{{imgs.hero02}}" />
                    <img class="gou" ng-src="{{imgs.page12_2}}" />
                    <p>平台运营</p>
                </a>
                <a class="all-b fl" href="https://jinshuju.net/f/hQC5pZ" target="_blank">
                    <input type="hidden" value="3" />
                    <div class="b-bg fl"></div>
                    <img class="men" ng-src="{{imgs.hero03}}" />
                    <img class="gou" ng-src="{{imgs.page12_2}}" />
                    <p>技术</p>
                </a>
                <a class="all-b fl" href="https://jinshuju.net/f/hQC5pZ" target="_blank">
                    <input type="hidden" value="4" />
                    <div class="b-bg fl"></div>
                    <img class="men" ng-src="{{imgs.hero04}}" />
                    <img class="gou" ng-src="{{imgs.page12_2}}" />
                    <p>测试</p>
                </a>
                <a class="all-b midd fl" href="https://jinshuju.net/f/hQC5pZ" target="_blank">
                    <input type="hidden" value="5" />
                    <div class="b-bg fl"></div>
                    <img class="men" ng-src="{{imgs.hero05}}" />
                    <img class="gou" ng-src="{{imgs.page12_2}}" />
                    <p>财务总监</p>
                </a>
                <a class="all-b fl" href="https://jinshuju.net/f/hQC5pZ" target="_blank">
                    <input type="hidden" value="6" />
                    <div class="b-bg fl"></div>
                    <img class="men" ng-src="{{imgs.hero06}}" />
                    <img class="gou" ng-src="{{imgs.page12_2}}" />
                    <p>视觉设计</p>
                </a>
            </div>
            <a href="javascript:void(0)" class="j_toShare" class="btn">
                <img ng-src="{{imgs.page12_3}}" />
            </a>
        </section>
        <img class="bg" ng-src="{{imgs.bg1}}">
    </div>
    <div class="section section13" data-anchor="page13">
        <section class="page13">
            <img class="top-img" ng-src="{{imgs.page13_2}}"/>
            <div class="bg">
                <div class="hu">
                    <img id="J_lastimg" src="" />
                </div>
                <p id="J_lastname">你还没有选超级战队:(</p>
                <div class="bar">140字内介绍自己，敢么？</div>
                <a href="javascript:void(0)" id="J_toMail">
                    <img class="btn" ng-src="{{imgs.page13_3}}" />
                </a>
                <p class="mail">Ps：也可以直接发邮件到HR邮箱哦<br />hr@ikaowo.com</p>
            </div>
        </section>
        <section class="page14" style="display: none">
            <div class="bg">
                <div class="hu">
                    <img ng-src="{{imgs.page14_1}}"/>
                </div>
                <a href="javascript:void(0)" class="j_toShare">
                    <img class="btn" ng-src="{{imgs.page14_2}}" />
                </a>
                <p class="mail">来靠我，<br />
                    和我们一起经历美妙的早期创业旅程，<br />
                    趁年轻，<br />
                    多折腾点正经事吧</p>
            </div>
        </section>

        <img class="logo_b" ng-src="{{imgs.pag3_1}}" />
        <img class="bg" ng-src="{{imgs.bg1}}">
    </div>
</div>

<a id="J_share" style="display: none">
    <div class="to-share"></div>
    <div class="share-img">
        <img ng-src="{{imgs.to_share}}" />
    </div>
</a>
<audio id="music" autoplay>
    <source src="app/partial/into-job/media/music.ogg">
    <source src="app/partial/into-job/media/music.mp3">
    <source src="app/partial/into-job/media/music.wav">
</audio>
