<div id="businessPages" ng-style="style.h_bg">
    <header>
        <img ng-src="{{img}}" ng-repeat="img in Static.imgs_h" />
    </header>
    <section class="business" ng-style="style.b_bg">
        <a ng-href="kaowo://user/mainpage?uid={{Static.userId.user_1}}" class="bn-box">
            <img ng-src="{{Static.imgs_u.imgs_1}}" />
            <div  class="top">
                千万姐  天猫服饰总经理
                <p class="b">我的人生我做主！</p>
                <i>
                    <img ng-src="{{Static.imgs_r}}" />
                </i>
            </div>
            <div class="con">李淑君，江湖人称“千万姐”，骨子里那股不断超越昨天的自信，使她一次次在“双11”战场创造辉煌。作为新时代的女性标杆，独特的创业思维和未来的想法，愿智慧之光能够照亮所有有志者。</div>
        </a>
        <a ng-href="kaowo://user/mainpage?uid={{Static.userId.user_2}}" class="bn-box">
            <img ng-src="{{Static.imgs_u.imgs_2}}" />
            <div  class="top">
                大米 伊米妮品牌创始人
                <p class="b">让客户全面拥有品牌才是王道！</p>
                <i>
                    <img ng-src="{{Static.imgs_r}}" />
                </i>
            </div>
            <div class="con">陈荷忠，花名大米，伊米妮女包总经理，箱包类目原创第一品牌，马云钦点的湖畔门生！善于把握电商趋势，打造品质电商，用实战经验帮助电商人建设自创品牌。</div>
        </a>
        <a ng-href="kaowo://user/mainpage?uid={{Static.userId.user_3}}" class="bn-box">
            <img ng-src="{{Static.imgs_u.imgs_3}}" />
            <div  class="top">
                乔丽  阿里巴巴八位敲钟人之一
                <p class="b">做一个电商风口上的女人！</p>
                <i>
                    <img ng-src="{{Static.imgs_r}}" />
                </i>
            </div>
            <div class="con">菲报道创始人，资深自媒体人，淘宝网传播之星。教你玩转新媒体，高效资源整合、创新营销！</div>
        </a>
        <a ng-href="kaowo://user/mainpage?uid={{Static.userId.user_4}}" class="bn-box">
            <img ng-src="{{Static.imgs_u.imgs_4}}" />
            <div  class="top">
                李潇  燕格格掌柜
                <p class="b">不断超越自我，永不止步！</p>
                <i>
                    <img ng-src="{{Static.imgs_r}}" />
                </i>
            </div>
            <div class="con">人称潇掌柜，坐拥淘宝燕窝销量第一品牌！成功推出“格格家APP”，打造第一进口食品平台，跨境电商先行者。</div>
        </a>
        <a ng-href="kaowo://user/mainpage?uid={{Static.userId.user_5}}" class="bn-box">
            <img ng-src="{{Static.imgs_u.imgs_5}}" />
            <div  class="top">
                王佳荥  亮程纸箱CEO
                <p class="b">将纸箱卖给了全国人民！</p>
                <i>
                    <img ng-src="{{Static.imgs_r}}" />
                </i>
            </div>
            <div class="con">八年电商实战经验，一套纸箱服务10万商家，堪称中国第一“纸媒体”。在中小卖家起步、传统企业转型电商、创业团队搭建方面有独特见解！</div>
        </a>
        <a ng-href="kaowo://user/mainpage?uid={{Static.userId.user_6}}" class="bn-box">
            <img ng-src="{{Static.imgs_u.imgs_6}}" />
            <div  class="top">
                李志勇  广州森荣手袋创始人
                <p class="b">电商路唯进步，不止步！</p>
                <i>
                    <img ng-src="{{Static.imgs_r}}" />
                </i>
            </div>
            <div class="con">典型的传统企业管理摸索者，曾荣获“十佳网商”称号，中小型企业遇到过的困难，他都遇到过。多年潜心学习和实践，摸索了一套“裂变阿米巴”商业管理模式。</div>
        </a>
        <a ng-href="kaowo://user/mainpage?uid={{Static.userId.user_7}}" class="bn-box">
            <img ng-src="{{Static.imgs_u.imgs_7}}" />
            <div  class="top">
                张峰  速卖通大学讲师团团长
                <p class="b">让天下没有难做的跨境生意！</p>
                <i>
                    <img ng-src="{{Static.imgs_r}}" />
                </i>
            </div>
            <div class="con">速卖通金牌讲师、蓝带讲师，速卖通服饰配饰行业TOP卖家，阿里巴巴官方书籍《速卖通宝典》作者组长，熟练运营出口通、速卖通、诚信通、淘宝C店等B2B、B2C电商平台。</div>
        </a>
        <a ng-href="kaowo://user/mainpage?uid={{Static.userId.user_8}}" class="bn-box">
            <img ng-src="{{Static.imgs_u.imgs_8}}" />
            <div  class="top">
                梁波  亚马逊资深大咖
                <p class="b">教你玩转跨境电商！</p>
                <i>
                    <img ng-src="{{Static.imgs_r}}" />
                </i>
            </div>
            <div class="con">跨境电商实操经验丰富，全方位解析速卖通、亚马逊运营，亚马逊品牌塑造及维护，让跨境电商不再难做！</div>
        </a>
    </section>
    <textarea style="display:none" id="J_pageData">
        <!--"showRefresh"：刷新按钮（T——显示，F——隐藏），-->
        <!--"showBack"：后退按钮（T——显示，F——隐藏），-->
        <!--"showForward"：前进按钮（T——显示，F——隐藏），-->
        <!--"showBottom"：整个底部栏（T——显示，F——隐藏）-->
        { "showRefresh" : "F", "showBack" : "F", "showForward" : "F", "showBottom" : "F" }
    </textarea>
</div>