<div id="startupPages" ng-style="style.h_bg">
    <header>
        <img ng-src="{{img}}" ng-repeat="img in Static.imgs_h"/>
    </header>
    <section class="business" ng-style="style.b_bg">
        <a ng-href="kaowo://user/mainpage?uid={{Static.userId.user_1}}" class="bn-box">
            <img ng-src="{{Static.imgs_u.imgs_1}}"/>

            <div class="top">
                俞朝翎 创业酵母CEO
                <p class="b">人才是一个企业拥有的最大财富</p>
                <i>
                    <img ng-src="{{Static.imgs_r}}" />
                </i>
            </div>
            <div class="con">前阿里总经理，阿里直销铁军文化缔造者，现任创业酵母CEO，投资种子项目孵化。教你打造强力、高效的团队，创业路上不再为“人”所困！</div>
        </a>
        <a ng-href="kaowo://user/mainpage?uid={{Static.userId.user_2}}" class="bn-box">
            <img ng-src="{{Static.imgs_u.imgs_2}}"/>

            <div class="top">
                鬼脚七 自媒体大咖
                <p class="b">做真实的自己！</p>
                <i>
                    <img ng-src="{{Static.imgs_r}}" />
                </i>
            </div>
            <div class="con">前淘宝搜索负责人，知名自媒体人，专注搜索引擎、电子商务、移动互联网领域，精通国学。凭借十余载电商经验，愿帮助创业者规避风险、少走弯路。</div>
        </a>
        <a ng-href="kaowo://user/mainpage?uid={{Static.userId.user_3}}" class="bn-box">
            <img ng-src="{{Static.imgs_u.imgs_3}}"/>

            <div class="top">
                章继征 口袋购物联合创始人
                <p class="b">步步为营，行走移动电商风口</p>
                <i>
                    <img ng-src="{{Static.imgs_r}}" />
                </i>
            </div>
            <div class="con">淘宝花名重阳，靠我ID大少也，多年移动端营销经验，擅长移动电商平台营销，一年时间造就3000万店家的传奇，帮助微店的商家打造出属于自己的称谓“微店店主”。</div>
        </a>
        <a ng-href="kaowo://user/mainpage?uid={{Static.userId.user_4}}" class="bn-box">
            <img ng-src="{{Static.imgs_u.imgs_4}}"/>

            <div class="top">
                子柳 前淘宝技术大学校长
                <p class="b">谁陪我走下一个十年</p>
                <i>
                    <img ng-src="{{Static.imgs_r}}" />
                </i>
            </div>
            <div class="con">天使投资人，2004年加入淘宝网，伴随着淘宝一步步成长，并创办了"淘宝技术大学"。目前专注于风险投资领域，帮助新的创业公司成长。</div>
        </a>
        <a ng-href="kaowo://user/mainpage?uid={{Static.userId.user_5}}" class="bn-box">
            <img ng-src="{{Static.imgs_u.imgs_5}}"/>

            <div class="top">
                孙志超 阿里学院搭建者
                <p class="b">快速打造“互联网+”高效团队</p>
                <i>
                    <img ng-src="{{Static.imgs_r}}" />
                </i>
            </div>
            <div class="con">10年阿里陈，是中供体系管理层干部培训的设计师，在管理队伍如何快速发展、文化如何传承落地等方面可给与创业公司一臂之力。</div>
        </a>
        <a ng-href="kaowo://user/mainpage?uid={{Static.userId.user_6}}" class="bn-box">
            <img ng-src="{{Static.imgs_u.imgs_6}}"/>

            <div class="top">
                苏杰 “好产品”CEO
                <p class="b">用好产品改变世界！</p>
                <i>
                    <img ng-src="{{Static.imgs_r}}" />
                </i>
            </div>
            <div class="con">8年阿里产品经理，前阿里产品大学负责人，著有《人人都是产品经理》、《淘宝十年产品事》。目前从事创业者服务，帮助创业者起步，点滴之间让你的产品已过万重山。</div>
        </a>
        <a ng-href="kaowo://user/mainpage?uid={{Static.userId.user_7}}" class="bn-box">
            <img ng-src="{{Static.imgs_u.imgs_7}}"/>

            <div class="top">
                钱志龙 爱学贷创始人
                <p class="b">六次创业经验传授给你</p>
                <i>
                    <img ng-src="{{Static.imgs_r}}" />
                </i>
            </div>
            <div class="con">原阿里巴巴75号员工，对互联网天生的嗅觉，曾主导中国供应商、支付宝、阿里妈妈三次创业，也转战电商导购、互联网金融领域，每一段经历都不平凡！</div>
        </a>
        <a ng-href="kaowo://user/mainpage?uid={{Static.userId.user_8}}" class="bn-box">
            <img ng-src="{{Static.imgs_u.imgs_8}}"/>

            <div class="top">
                陈芳 网购“意见领袖”
                <p class="b">从性格角度打造梦幻团队！</p>
                <i>
                    <img ng-src="{{Static.imgs_r}}" />
                </i>
            </div>
            <div class="con">陈芳，靠我花名老板娘，淘宝ID“孩子他娘”，淘宝买家代言人，网购意见领袖，擅长对买家心里需求的挖掘，教你如何打造客户喜欢的产品，让创业者从性</div>
        </a>
        <a ng-href="kaowo://user/mainpage?uid={{Static.userId.user_9}}" class="bn-box">
            <img ng-src="{{Static.imgs_u.imgs_9}}"/>

            <div class="top">
                王建时 橙牛违章管家CEO
                <p class="b">互联网创业公司如何快速切入市场？</p>
                <i>
                    <img ng-src="{{Static.imgs_r}}" />
                </i>
            </div>
            <div class="con">尹国锋，花名笑天鸿，阿里巴巴《燃情岁月》制作人，阿里中供体系上最懂培训的讲师，传授阿里特有的企业文化和价值观，教你打造一只具有梦想和激情的团队，缔造企业核心竞争力！</div>
        </a>
        <a ng-href="kaowo://user/mainpage?uid={{Static.userId.user_10}}" class="bn-box">
            <img ng-src="{{Static.imgs_u.imgs_10}}"/>

            <div class="top">
                笑天鸿 资深企业导师
                <p class="b">企业文化与价值观是核心竞争力！</p>
                <i>
                    <img ng-src="{{Static.imgs_r}}" />
                </i>
            </div>
            <div class="con">陈芳，靠我花名老板娘，淘宝ID“孩子他娘”，淘宝买家代言人，网购意见领袖，擅长对买家心里需求的挖掘，教你如何打造客户喜欢的产品，让创业者从性。</div>
        </a>
        <a ng-href="kaowo://user/mainpage?uid={{Static.userId.user_11}}" class="bn-box">
            <img ng-src="{{Static.imgs_u.imgs_11}}"/>

            <div class="top">
                崔磊 知名创业者、投资人
                <p class="b">互联网界最懂主持，主持界最懂互联网</p>
                <i>
                    <img ng-src="{{Static.imgs_r}}" />
                </i>
            </div>
            <div class="con">知名主持人兼投资人，互联网风口创业如何起步，禁忌有哪些，如何融合传统企业转型，我有话说！</div>
        </a>
        <a ng-href="kaowo://user/mainpage?uid={{Static.userId.user_12}}" class="bn-box">
            <img ng-src="{{Static.imgs_u.imgs_12}}"/>

            <div class="top">
                玄慈  资深人力资源经理人
                <p class="b">互联网行业人才管理是关键！</p>
                <i>
                    <img ng-src="{{Static.imgs_r}}" />
                </i>
            </div>
            <div class="con">曾参与和记黄埔、IBM、阿里巴巴的团队建设，根植于人力资源领域多年，对互联网行业人才管理有深刻见解！</div>
        </a>
        <a ng-href="kaowo://user/mainpage?uid={{Static.userId.user_13}}" class="bn-box">
            <img ng-src="{{Static.imgs_u.imgs_13}}"/>

            <div class="top">
                仁斌 有邻创始人
                <p class="b">做用户满意的产品</p>
                <i>
                    <img ng-src="{{Static.imgs_r}}" />
                </i>
            </div>
            <div class="con">原阿里资深技术产品总监，用技术改变生活，打造被用户迷恋的产品。创业不单需要勇猛，也需要积淀，厚积薄发！</div>
        </a>
        <a ng-href="kaowo://user/mainpage?uid={{Static.userId.user_14}}" class="bn-box">
            <img ng-src="{{Static.imgs_u.imgs_14}}"/>

            <div class="top">
                王海霖  银杏谷资本副总裁
                <p class="b">关注新技术、新产品、新服务、新模式</p>
                <i>
                    <img ng-src="{{Static.imgs_r}}" />
                </i>
            </div>
            <div class="con">银杏谷资本副总裁，多年创业投资经验，对对云计算产业链、移动互联网、新农业、文化娱乐、现代服务业有深刻的理解。</div>
        </a>
        <a ng-href="kaowo://user/mainpage?uid={{Static.userId.user_15}}" class="bn-box">
            <img ng-src="{{Static.imgs_u.imgs_15}}"/>

            <div class="top">
                李研珠  买好车联合创始人
                <p class="b">“互联网+”教你靠谱的玩法</p>
                <i>
                    <img ng-src="{{Static.imgs_r}}" />
                </i>
            </div>
            <div class="con">花名胖胡斐，从淘宝商城到蘑菇街，再到买好车，在互联网、电商行业使劲“折腾”，只为玩出精彩。临渊羡鱼不如退而结网，如果注定要走创业这条路，不妨来交流。</div>
        </a>
    </section>
    <textarea style="display:none" id="J_pageData">
        <!--"showRefresh"：刷新按钮（T——显示，F——隐藏），-->
        <!--"showBack"：后退按钮（T——显示，F——隐藏），-->
        <!--"showForward"：前进按钮（T——显示，F——隐藏），-->
        <!--"showBottom"：整个底部栏（T——显示，F——隐藏）-->
        { "showRefresh" : "T", "showBack" : "F", "showForward" : "T", "showBottom" : "F" }
    </textarea>T
</div>