<div id="lecturerPages" ng-style="style">
    <header>
        <img ng-src="{{img}}" ng-repeat="img in Static.imgs_h"/>
    </header>
    <section class="uesrhand">
        <div class="lec-box">
            <div class="btn-box">
                <a ng-href="kaowo://user/mainpage?uid={{Static.userId.user_1}}" class="btn"></a>
                <a ng-href="kaowo://communi/voicecall?uid={{Static.userId.user_1}}" class="btn"></a>
            </div>
            <a ng-href="kaowo://user/mainpage?uid={{Static.userId.user_1}}">
                <img ng-src="{{Static.imgs_u.imgs_1}}"/>
            </a>
        </div>
        <div class="lec-box">
            <div class="btn-box">
                <a ng-href="kaowo://user/mainpage?uid={{Static.userId.user_2}}" class="btn"></a>
                <a ng-href="kaowo://communi/voicecall?uid={{Static.userId.user_2}}" class="btn"></a>
            </div>
            <a ng-href="kaowo://user/mainpage?uid={{Static.userId.user_2}}">
                <img ng-src="{{Static.imgs_u.imgs_2}}"/>
            </a>
        </div>
        <div class="lec-box">
            <div class="btn-box">
                <a ng-href="kaowo://user/mainpage?uid={{Static.userId.user_3}}" class="btn"></a>
                <a ng-href="kaowo://communi/voicecall?uid={{Static.userId.user_3}}" class="btn"></a>
            </div>
            <a ng-href="kaowo://user/mainpage?uid={{Static.userId.user_3}}">
                <img ng-src="{{Static.imgs_u.imgs_3}}"/>
            </a>
        </div>
        <div class="lec-box">
            <div class="btn-box">
                <a ng-href="kaowo://user/mainpage?uid={{Static.userId.user_4}}" class="btn"></a>
                <a ng-href="kaowo://communi/voicecall?uid={{Static.userId.user_4}}" class="btn"></a>
            </div>
            <a ng-href="kaowo://user/mainpage?uid={{Static.userId.user_4}}">
                <img ng-src="{{Static.imgs_u.imgs_4}}"/>
            </a>
        </div>
        <div class="lec-box">
            <div class="btn-box">
                <a ng-href="kaowo://user/mainpage?uid={{Static.userId.user_5}}" class="btn"></a>
                <a ng-href="kaowo://communi/voicecall?uid={{Static.userId.user_5}}" class="btn"></a>
            </div>
            <a ng-href="kaowo://user/mainpage?uid={{Static.userId.user_5}}">
                <img ng-src="{{Static.imgs_u.imgs_5}}"/>
            </a>
        </div>
        <div class="lec-box">
            <div class="btn-box">
                <a ng-href="kaowo://user/mainpage?uid={{Static.userId.user_6}}" class="btn"></a>
                <a ng-href="kaowo://communi/voicecall?uid={{Static.userId.user_6}}" class="btn"></a>
            </div>
            <a ng-href="kaowo://user/mainpage?uid={{Static.userId.user_6}}">
                <img ng-src="{{Static.imgs_u.imgs_6}}"/>
            </a>
        </div>
        <div class="lec-box">
            <div class="btn-box">
                <a ng-href="kaowo://user/mainpage?uid={{Static.userId.user_7}}" class="btn"></a>
                <a ng-href="kaowo://communi/voicecall?uid={{Static.userId.user_7}}" class="btn"></a>
            </div>
            <a ng-href="kaowo://user/mainpage?uid={{Static.userId.user_7}}">
                <img ng-src="{{Static.imgs_u.imgs_7}}"/>
            </a>
        </div>
        <div class="lec-box">
            <div class="btn-box">
                <a ng-href="kaowo://user/mainpage?uid={{Static.userId.user_8}}" class="btn"></a>
                <a ng-href="kaowo://communi/voicecall?uid={{Static.userId.user_8}}" class="btn"></a>
            </div>
            <a ng-href="kaowo://user/mainpage?uid={{Static.userId.user_8}}">
                <img ng-src="{{Static.imgs_u.imgs_8}}"/>
            </a>
        </div>
        <div class="lec-box">
            <div class="btn-box">
                <a ng-href="kaowo://user/mainpage?uid={{Static.userId.user_9}}" class="btn"></a>
                <a ng-href="kaowo://communi/voicecall?uid={{Static.userId.user_9}}" class="btn"></a>
            </div>
            <a ng-href="kaowo://user/mainpage?uid={{Static.userId.user_9}}">
                <img ng-src="{{Static.imgs_u.imgs_9}}"/>
            </a>
        </div>
        <div class="lec-box">
            <div class="btn-box">
                <a ng-href="kaowo://user/mainpage?uid={{Static.userId.user_10}}" class="btn"></a>
                <a ng-href="kaowo://communi/voicecall?uid={{Static.userId.user_10}}" class="btn"></a>
            </div>
            <a ng-href="kaowo://user/mainpage?uid={{Static.userId.user_10}}">
                <img ng-src="{{Static.imgs_u.imgs_10}}"/>
            </a>
        </div>
    </section>
    <textarea style="display:none" id="J_pageData">
        <!--"showRefresh"：刷新按钮（T——显示，F——隐藏），-->
        <!--"showBack"：后退按钮（T——显示，F——隐藏），-->
        <!--"showForward"：前进按钮（T——显示，F——隐藏），-->
        <!--"showBottom"：整个底部栏（T——显示，F——隐藏）-->
        { "showRefresh" : "F", "showBack" : "F", "showForward" : "F", "showBottom" : "F" }
    </textarea>
</div>