<!--<div oc-lazy-load="gridModule">-->

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,  user-scalable=no,minimal-ui"/>

<div id="main">
    <div class="container">
        <div class="field profession">
            <h2>专长标签</h2>

            <div class="content">
                <i class="icon-tag"></i>

                <!--<span>淘宝</span>-->
                <!--<span>直通车</span>-->
                <!--<span>营销</span>-->
                <!--<span>吹牛逼</span>-->
                <!--<span>忽悠人</span>-->
            <span ng-repeat="tag in Datas.tags">
                            {{tag}}&nbsp;
            </span>


                <!--<span>忽悠人22</span>-->

            </div>
        </div>
        <div class="field detail end">
            <h2>个人简介</h2>

            <div class="content">
                <p class="summary text">
                    {{Datas.summary}}
                </p>

                <div class="addition">

                    <div class="row" ng-repeat="video in  Datas.mp4">

                        <video
                                ng-src="{{trustSrc(video.tbr_img)}}"
                                controls="controls"
                                poster="http://m.ikaowo.com/video/poster/capture-uid{{video.u_id}}.jpg"
                                style="width: 100%"
                                >

                                </video>
                       <!-- <iframe

                                type="text/html"
                                style="width: 100%"
                                ng-src="{{trustSrc(video.tbr_img)}}"
                                allowfullscreen
                                frameborder="0" ></iframe>-->


                        <p style="word-wrap: break-word;word-break: normal;">{{video.tbr_txt}}</p>
                    </div>


                    <div class="row" ng-repeat="tb in Datas.tumblr">
                        <a href="kaowo://user/mainpagephotos?currentindex={{tb.sq}}&imgs={{Datas.allUrl}}">
                            <img ng-src="{{tb.tbr_img}}" alt="">
                        </a>


                        <p style="word-wrap: break-word;word-break: normal;">{{tb.tbr_txt}}</p>
                    </div>

                    <!--<div class="row">-->
                    <!--<img src="./images/demo/2.jpg" alt="">-->
                    <!--<p>哈哈哈哈，这个更屌</p>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                    <!--<img src="./images/demo/3.jpg" alt="">-->
                    <!--<p>要的就是这个效果</p>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>

<!--</div>-->