
<div id="">
    <div class="container">
        <div class="fix_top">
            <div class="title header">
                「靠我」是什么？
            </div>
        </div>
        <div class="con pos_fix">
            <p>「靠我」是一个智慧交易平台，为解决商圈难题而生。有困难上靠我，这里所谓困难问题，是指“传统企业转电商需要注意哪些？”，“如何打造淘宝爆款？”，“想了解投资人到底如何看项目？”类似这些问题，每个商圈领域的人都会遇到，面对这个情况，我们通常会托关系，找朋友，找到靠谱的人进行咨询求助。但每个人的圈子大小有限，找到的智客权威性也难以考量，沟通效率极低。「靠我」希望通过智慧共享的方式，一对一直接连线权威智客，快速、精准、高效地帮求助者答疑解惑，让智客拥有的一技之长发挥出更大的价值。</p>
        </div>
    </div>
    <textarea style="display:none" id="J_pageData">
        <!--"showRefresh"：刷新按钮（T——显示，F——隐藏），-->
        <!--"showBack"：后退按钮（T——显示，F——隐藏），-->
        <!--"showForward"：前进按钮（T——显示，F——隐藏），-->
        <!--"showBottom"：整个底部栏（T——显示，F——隐藏）-->
        { "showRefresh" : "T", "showBack" : "T", "showForward" : "T", "showBottom" : "T" }
    </textarea>
</div>