
<div id="">
    <div class="container">
        <!--<div class="fix_top">-->
            <!--<div class="title header">-->
                <!--应用介绍-->
            <!--</div>-->
        <!--</div>-->
        <div class="intro">
            <img src="http://7xixti.com2.z0.glb.qiniucdn.com/appintro_logo.png">
        </div>
        <div class="con">
            <p>「靠我」是一个智慧交易平台，为解决商人难题而生。有困难上靠我，「靠我」希望通过智慧共享的方式，一对一直接连线权威智客，快速、精准、高效地帮求助者答疑解惑，让智客的智慧和经验发挥出更大的价值。</p>
        </div>
    </div>
    <textarea style="display:none" id="J_pageData">
        <!--"showRefresh"：刷新按钮（T——显示，F——隐藏），-->
        <!--"showBack"：后退按钮（T——显示，F——隐藏），-->
        <!--"showForward"：前进按钮（T——显示，F——隐藏），-->
        <!--"showBottom"：整个底部栏（T——显示，F——隐藏）-->
        { "showRefresh" : "F", "showBack" : "F", "showForward" : "F", "showBottom" : "F" }
    </textarea>
</div>