<div class="container">
    <div class="fix_top">
        <div class="title header">
            如何申请成为专家？
        </div>
    </div>

    <div class="con pos_fix">
        <p>在「靠我」注册后，点击首页下方“专长”，申请成为专家点击“立即申请”，填写“专长标签”。</p>
        <p>对于满足条件的申请人，专家顾问将与您做进一步沟通和了解。</p>
        <p>提交详细的专长介绍、个人介绍、个人照片。</p>
        <p>顾问给您认证为专家，并发布您的专长和个人介绍。</p>
    </div>
    <textarea style="display:none" id="J_pageData">
        <!--"showRefresh"：刷新按钮（T——显示，F——隐藏），-->
        <!--"showBack"：后退按钮（T——显示，F——隐藏），-->
        <!--"showForward"：前进按钮（T——显示，F——隐藏），-->
        <!--"showBottom"：整个底部栏（T——显示，F——隐藏）-->
        { "showRefresh" : "T", "showBack" : "T", "showForward" : "T", "showBottom" : "T" }
    </textarea>
</div>
