<div class="container">
    <div class="fix_top">
        <div class="title header">
            为何必须对智客做出评价？
        </div>
    </div>

    <div class="con pos_fix">
        <p>用户的评价是咨询完成的最终标志，只有用户评价后，「靠我」才确认双方的咨询已经完成，【智客】才可以申请提现。同时，您的评价将帮助其他用户更了解智客。</p>
        <p>咨询过程中对智客解答不满意怎么办？</p>
        <p>如果用户对智客解答不满意，「靠我」平台会根据相应凭证进行评估流程，并对学员和智客双方了解具体情况，评估结果将在2-3个工作日内与用户进行协商解决。</p>
    </div>
    <textarea style="display:none" id="J_pageData">
        <!--"showRefresh"：刷新按钮（T——显示，F——隐藏），-->
        <!--"showBack"：后退按钮（T——显示，F——隐藏），-->
        <!--"showForward"：前进按钮（T——显示，F——隐藏），-->
        <!--"showBottom"：整个底部栏（T——显示，F——隐藏）-->
        { "showRefresh" : "T", "showBack" : "T", "showForward" : "T", "showBottom" : "T" }
    </textarea>
</div>
