<div id="">
    <div class="container">
        <div class="fix_top">
            <div class="title header">
                专家来自哪里？
            </div>
        </div>
        <div class="con pos_fix">
            <p>「靠我」的专家都是某一领域的高手，拥有多年实践经验；除此以外，他们还有分享的热情，以及良好的沟通能力。目前「靠我」的每位专家都经过顾问的审核与认证，确保身份真实。</p>
        </div>
    </div>
    <textarea style="display:none" id="J_pageData">
        <!--"showRefresh"：刷新按钮（T——显示，F——隐藏），-->
        <!--"showBack"：后退按钮（T——显示，F——隐藏），-->
        <!--"showForward"：前进按钮（T——显示，F——隐藏），-->
        <!--"showBottom"：整个底部栏（T——显示，F——隐藏）-->
        { "showRefresh" : "T", "showBack" : "T", "showForward" : "T", "showBottom" : "T" }
    </textarea>
</div>