<style>
    html {
        background: #f0eff5;
    }
</style>
<div id="help-index">
    <div class="container">
        <div class="title header">
            「靠我」介绍
        </div>
        <ul>
            <li>
                <a href="simple.html#/help/app-intro">
                    「靠我」是什么？
                    <img src="http://7xixti.com2.z0.glb.qiniucdn.com/more-icon.png"/>
                </a>
            </li>
            <li>
                <a href="simple.html#/help/expert-place">
                    专家来自哪里？
                    <img src="http://7xixti.com2.z0.glb.qiniucdn.com/more-icon.png"/>
                </a>
            </li>
            <li>
                <a href="simple.html#/help/user-pay">
                    为何用户必须付费？
                    <img src="http://7xixti.com2.z0.glb.qiniucdn.com/more-icon.png"/>
                </a>
            </li>
        </ul>
        <div class="title header">
            用户帮助
        </div>
        <ul>
            <li>
                <a href="simple.html#/help/use-claues">
                    如何使用「靠我」？
                    <img src="http://7xixti.com2.z0.glb.qiniucdn.com/more-icon.png"/>
                </a>
            </li>
            <li>
                <a href="simple.html#/help/refuse-use">
                    专家会拒绝用户的请求？
                    <img src="http://7xixti.com2.z0.glb.qiniucdn.com/more-icon.png"/>
                </a>
            </li>
            <li>
                <a href="simple.html#/help/appraise-expert">
                    为何必须对专家做出评价？
                    <img src="http://7xixti.com2.z0.glb.qiniucdn.com/more-icon.png"/>
                </a>
            </li>
        </ul>
        <div class="title header">
            专家帮助
        </div>
        <ul>
            <li>
                <a href="simple.html#/help/my-title">
                    如何选择自己的标题？
                    <img src="http://7xixti.com2.z0.glb.qiniucdn.com/more-icon.png"/>
                </a>
            </li>
            <li>
                <a href="simple.html#/help/my-pricing">
                    专家可以为自己定价吗？
                    <img src="http://7xixti.com2.z0.glb.qiniucdn.com/more-icon.png"/>
                </a>
            </li>
            <li>
                <a href="simple.html#/help/account-time">
                    提现什么时候到帐？
                    <img src="http://7xixti.com2.z0.glb.qiniucdn.com/more-icon.png"/>
                </a>
            </li>
            <li>
                <a href="simple.html#/help/handling-charge">
                    交易过程中收手续费吗？
                    <img src="http://7xixti.com2.z0.glb.qiniucdn.com/more-icon.png"/>
                </a>
            </li>
            <li>
                <a href="simple.html#/help/apply-sxpert">
                    如何申请成为专家？
                    <img src="http://7xixti.com2.z0.glb.qiniucdn.com/more-icon.png"/>
                </a>
            </li>
            <li>
                <a href="simple.html#/help/change-home">
                    专家可以修改自己的个人主页吗？
                    <img src="http://7xixti.com2.z0.glb.qiniucdn.com/more-icon.png"/>
                </a>
            </li>
        </ul>
        <div class="title header">
            「靠我」用户须知
        </div>
        <ul>
            <li>
                <a href="simple.html#/help/use-kaowo">
                    「靠我」用户须遵守条款
                    <img src="http://7xixti.com2.z0.glb.qiniucdn.com/more-icon.png"/>
                </a>
            </li>
            <li>
                <a href="simple.html#/help/refund-notice">
                    「靠我」退款须知
                    <img src="http://7xixti.com2.z0.glb.qiniucdn.com/more-icon.png"/>
                </a>
            </li>
            <li>
                <a href="simple.html#/help/contact-kaowo">
                    如何联系「靠我」？
                    <img src="http://7xixti.com2.z0.glb.qiniucdn.com/more-icon.png"/>
                </a>
            </li>
        </ul>

    </div>
    <textarea style="display:none" id="J_pageData">
        <!--"showRefresh"：刷新按钮（T——显示，F——隐藏），-->
        <!--"showBack"：后退按钮（T——显示，F——隐藏），-->
        <!--"showForward"：前进按钮（T——显示，F——隐藏），-->
        <!--"showBottom"：整个底部栏（T——显示，F——隐藏）-->
        { "showRefresh" : "T", "showBack" : "T", "showForward" : "T", "showBottom" : "T" }
    </textarea>
</div>