<div class="container">
    <div class="fix_top">
        <div class="title header">
            智客可以为自己定价吗？
        </div>
    </div>

    <div class="con pos_fix">
        <p>智客的咨询费用由智客自己决定。价格并不代表智客的资历深浅，而是作为一个门槛，用来分辨用户是否真心求教。此外，这也是用户对智客所付出的时间和给予的帮助表示感谢。</p>

    </div>
    <textarea style="display:none" id="J_pageData">
        <!--"showRefresh"：刷新按钮（T——显示，F——隐藏），-->
        <!--"showBack"：后退按钮（T——显示，F——隐藏），-->
        <!--"showForward"：前进按钮（T——显示，F——隐藏），-->
        <!--"showBottom"：整个底部栏（T——显示，F——隐藏）-->
        { "showRefresh" : "T", "showBack" : "T", "showForward" : "T", "showBottom" : "T" }
    </textarea>
</div>
