<div class="container">
    <div class="fix_top">
        <div class="title header">
            如何选择自己的标题？
        </div>
    </div>

    <div class="con pos_fix">
        <p>目前的咨询问题主要分为15类：淘宝，微商，京东，o2o，跨境电商，融资，法务，财务，管理，电商服务，互联网技术，亚马逊，蘑菇街，美丽说，亚马逊，唯品会。其中前五类目前是用户需求最大的领域。</p>

    </div>
    <textarea style="display:none" id="J_pageData">
        <!--"showRefresh"：刷新按钮（T——显示，F——隐藏），-->
        <!--"showBack"：后退按钮（T——显示，F——隐藏），-->
        <!--"showForward"：前进按钮（T——显示，F——隐藏），-->
        <!--"showBottom"：整个底部栏（T——显示，F——隐藏）-->
        { "showRefresh" : "T", "showBack" : "T", "showForward" : "T", "showBottom" : "T" }
    </textarea>
</div>
