<div class="container">
    <div class="fix_top">
        <div class="title header">
            「靠我」退款须知
        </div>
    </div>

    <div class="con pos_fix">
        <p>用户咨询过后，超出24小时不可申请退款。</p>
        <p>用户在「靠我」平台充值用于专家咨询费，充值成功后不支持提现。</p>
        <p><b>「靠我」退款方式</b></p>
        <p>如用户有退款需求，请致电：0571-87031321</p>
        <p><b>「靠我」退款时间</b></p>
        <p>退至「靠我」余额（1个工作日内到帐）。</p>
        <p>退至付款方（3-10个工作日内退款到支付方）。</p>
    </div>
    <textarea style="display:none" id="J_pageData">
        <!--"showRefresh"：刷新按钮（T——显示，F——隐藏），-->
        <!--"showBack"：后退按钮（T——显示，F——隐藏），-->
        <!--"showForward"：前进按钮（T——显示，F——隐藏），-->
        <!--"showBottom"：整个底部栏（T——显示，F——隐藏）-->
        { "showRefresh" : "T", "showBack" : "T", "showForward" : "T", "showBottom" : "T" }
    </textarea>
</div>
