<div class="container">
    <div class="fix_top">
        <div class="title header">
            如何使用「靠我」？
        </div>
    </div>

    <div class="con pos_fix">
        <p>1. 注册：用户需绑定有效手机号码，并设置「靠我」昵称。</p>
        <p>2. 咨询请求：根据自己的问题找到适合的专家，并在请求中简单描述要咨询的内容和问题以便对方提前了解您的情况。清晰明确的问题描述将有助于专家判断自己能否帮到您。</p>
        <p>3. 专家接听：专家收到用户的请求后，会看请求中描述的问题，并最终决定是否接受。</p>
        <p>4. 用户付费：专家确定接受后，按咨询时长来支付费用。</p>
        <p>5. 咨询完成后：用户对专家解答做出评价。</p>

    </div>
    <textarea style="display:none" id="J_pageData">
        <!--"showRefresh"：刷新按钮（T——显示，F——隐藏），-->
        <!--"showBack"：后退按钮（T——显示，F——隐藏），-->
        <!--"showForward"：前进按钮（T——显示，F——隐藏），-->
        <!--"showBottom"：整个底部栏（T——显示，F——隐藏）-->
        { "showRefresh" : "T", "showBack" : "T", "showForward" : "T", "showBottom" : "T" }
    </textarea>
</div>
