<div class="container">
    <div class="fix_top">
        <div class="title header">
            「靠我」用户须遵守条款
        </div>
    </div>

    <div class="con pos_fix">
        <p>用户注册「靠我」若绑定号码为失效号码则产生的咨询费用不作为退款理由。</p>
        <p>用户在「靠我」平台充值用于智客咨询费，充值成功后不支持提现。</p>
        <p>「靠我」用户在平台使用过程中，不允许出现谩骂，攻击性等言论，影响其他用户的正常体验。</p>
        <p>「靠我」用户确保手机信号、网络等正常情况下使用平台服务，如使用过程中有任何纠纷问题，联系「靠我」客服人员即可。</p>
        <p>此须知适用于所有「靠我」用户。</p>
    </div>
    <textarea style="display:none" id="J_pageData">
        <!--"showRefresh"：刷新按钮（T——显示，F——隐藏），-->
        <!--"showBack"：后退按钮（T——显示，F——隐藏），-->
        <!--"showForward"：前进按钮（T——显示，F——隐藏），-->
        <!--"showBottom"：整个底部栏（T——显示，F——隐藏）-->
        { "showRefresh" : "T", "showBack" : "T", "showForward" : "T", "showBottom" : "T" }
    </textarea>
</div>
