<div id="">
    <div class="container">
        <div class="fix_top">
            <div class="title header">
                为何用户必须付费？
            </div>
        </div>
        <div class="con pos_fix">
            <p>在这里，问题的价格并不代表专家的资历深浅，也不代表这一问题的价值高低。付费也是用户对专家所付出的经验和时间表示尊重。</p>
            <p>用户需在「靠我」钱包充值金额，待咨询完问题并对专家做出评价以后，钱会进入专家帐户。</p>
        </div>
    </div>
    <textarea style="display:none" id="J_pageData">
        <!--"showRefresh"：刷新按钮（T——显示，F——隐藏），-->
        <!--"showBack"：后退按钮（T——显示，F——隐藏），-->
        <!--"showForward"：前进按钮（T——显示，F——隐藏），-->
        <!--"showBottom"：整个底部栏（T——显示，F——隐藏）-->
        { "showRefresh" : "T", "showBack" : "T", "showForward" : "T", "showBottom" : "T" }
    </textarea>
</div>