<style type="text/css">
    #about{
        padding-left: 20px;
        padding-right: 20px;
    }
    #about h2 {
        font-size: 18px;
        color: #767676;
    }

    #about h3 {
        margin-top: 26px;
        font-size: 16px;
        color: #767676;
    }

    #about p {
        font-size: 12px;
        color: #3d3d3d;
        line-height: 20px;
    }
    #about li p{
        margin: 6px 0;
        font-size: 12px;
    }
    #about li{
        font-size: 14px;
    }
    #about >div{
        text-align: center;
    }
 </style>
<div id="about">
    <div>
    <h2>
        专长学堂
    </h2>
    </div>
    <p style="font-size: 13px">
        「靠我」电商智慧交易分享平台！ 每个电商人在电商路上总会有迷茫和不解，这里有商各个领域里的大咖和专家，以「在线通话」的方式「随时随地」、「一对一」地为你解决电商难题。靠我，用心温暖电商人!
    </p>

    <h3>
        我有电商领域的一技之长？
    </h3>

    <p>
        在电商领域中，你可能是某店铺资深操盘手、电商平台小二、电商讲师、微商从业者…或是在行业中摸爬滚打多年，现已在掌握了许多电商实战技能。你的这些经验、技能，在「靠我」可以为你创造更多的价值。
    </p>

    <h3>
        如何更好地展现自己的专长？
    </h3>

    <ul>
        <li>文字描述部分
            <p>
                精准的个人定位描述，所以建议标签不宜多，标注一到两个标签，然后在个人介绍里围绕自己最擅长的技能进行阐述，不仅可以让客户快速找到你，更有助于你在擅长领域更全面的展示自己，树立专业的大咖形象。
            </p>
        </li>
        <li>
            对个人介绍文字的标准
            <p>
                所有文字部分不可以展示微信号，淘宝号，公共社区账号等信息 </p>
            <p>
                建议：个人介绍的部分可包含自己的职位、荣誉及擅长的领域，服务过的品牌及所获得的业绩情况等。
            </p>
        </li>
        <li>
            图片展现部分
            <p>
                一张好的照片胜过千言万语，所以你可以上传树立   </p>
            <h5>注意事项：</h5>

            <p>
                照片清晰，不能出现照片模糊情况；

                不能出现广告性的logo或水印；<br>

                建议：图片的挑选可包含自己的工作状态、展现自己的专业形象的照片。
            </p>

        </li>

    </ul>



    <h3>
        通话咨询是否收费？
    </h3>

<ul>

    <li>
        <p>专家和咨询者的沟通以计时的形式进行收费，每分钟收费的价格是由专家决定。</p>
    </li>

    <li><p>
        即时通话是以双方接通以后开始计时收费，专家没有接通则不收费。
    </p></li>

    <li><p>
        咨询者咨询完产生的费用会打入专家的账户，但是是冻结的状态，咨询者在

        24小时内没有发起异议，该笔收入即解冻并可提现。
    </p></li>

    <li><p>

        靠我平台对平台服务产生的收入收取5%-10%的佣金。
    </p></li>
</ul>
    <h3>
        如何让自己能够排名靠前
    </h3>

    <p>
        把自己最擅长的专业技能在个人介绍里凸显出来，靠我会根据您的服务数、服务次数、好评情况等表现综合评估，将最适合你的专长推荐个客户。
    </p>

    <h3>
        如何快速提升粉丝数和服务数
    </h3>

    <p>
        您可以在微信、朋友圈、微博、空间等渠道分享您的个人介绍，让更多的用户关注您。
    </p>

    <h3>
        活动推广加速用户粘度
    </h3>

    <p>
        您也可以根据电商节点、特殊档期等，开展限量名额免费咨询、或者限时集中回答问题等活动，让客户感受到你专业性的同时，增加客户粘度。
    </p>

</div>